# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
{
  "context-menu": {
    "atom-text-editor": [
      {
        "label": "Generate a New Traceable Item",
        "command": "r-n-atom:generate-traceable-item"
      },
      {
        "label": "Refer-to Upstream Items",
        "command": "r-n-atom:refer-to-upstream-items"
      }
    ]
  },
  "menu": [
    {
      "label": "Packages",
      "submenu": [
        {
          "label": "RNAtom Editor",
          "submenu": [
            {
              "label": "Generate a New Traceable Item",
              "command": "r-n-atom:generate-traceable-item"
            },
            {
              "label": "Refer to Upstream Items",
              "command": "r-n-atom:refer-to-upstream-items"
            }
          ]
        }
      ]
    }
  ]
}
