<configuration>
  <springProfile name="local">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>
          %d{HH:mm:ss.SSSS} [%thread] %-5level %logger{36} - %msg%n
        </pattern>
      </encoder>
    </appender>

    <logger name="com.gitenter" level="DEBUG" />

    <logger name="audit" level="TRACE" />

    <root level="INFO">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>

  <springProfile name="docker | staging | production">
    <appender name="BASIC-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/gitenter.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>logs/archived/gitenter.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <!-- each archived file, size max 10MB -->
        <maxFileSize>10MB</maxFileSize>
        <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
        <totalSizeCap>20GB</totalSizeCap>
        <!-- 60 days to keep -->
        <maxHistory>60</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>
          %d{YYYY/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
        </pattern>
      </encoder>
    </appender>

    <appender name="AUDIT-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/gitenter-audit.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>logs/audit/gitenter-audit.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <!-- each archived file, size max 10MB -->
        <maxFileSize>10MB</maxFileSize>
      </rollingPolicy>
      <encoder>
        <pattern>
          %d{YYYY/MM/dd HH:mm:ss.SSS} %msg%n
        </pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="BASIC-FILE-ROLLING" />
    </root>

    <logger name="audit" level="TRACE" additivity="false">
      <appender-ref ref="AUDIT-FILE-ROLLING"/>
    </logger>
  </springProfile>
</configuration>
