<!DOCTYPE html>

<html lang="en">
  <head>
	<meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" >
	<link rel="icon" type="image/x-icon" href="/resources/image/favicon.ico" />
  </head>
  <body>

    <header>
      <a href="/"><img class="logo" src="/resources/image/logo.png" alt="enterovirus" height="48" width="192"></a>

      <form action="/help" method="GET">
        <input type="submit" value="Help" />
      </form>

      <form action="/pricing" method="GET">
        <input type="submit" value="Pricing" />
      </form>
    </header>

    <article>
      {{ .Content }}
      <ul>
      {{ range .Paginator.Pages }}
          <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
      {{ end }}
      </ul>
    </article>

    <footer>
      <a href="/about">About</a> | <a href="/contact">Contact</a><br>
      Copyright &copy; 2017-2019 GitEnter
    </footer>

  </body>
</html>
