@charset "utf-8";

/* *************************************************************************
 * General replacement 
 * ************************************************************************* */

body, img, form, table, tr, td, div, a {

	border: 0px;
	margin: 0px;
	padding: 0px;
}

form {
	display: inline-block; 
}

table {
	border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
	border: 0px;
	margin: 10px 0px 5px 0px;
	padding: 0px;
}

p {
	border: 0px;
	margin: 0px 0px 5px 0px;
	padding: 0px;	
}

h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

img.center {
	display: block;
	margin: 0 auto;	
}

p.center {
	text-align: center;
}

span.nowrap {
	white-space: nowrap;
}

canvas {
	display: inline;
}

/* *************************************************************************
 * General layout
 * ************************************************************************* */

body {
	font-family: "Open Sans", Sans, sans-serif, Arial;
}


/***************************** Header details *********************************/

header {
	background-color: #bbbbbb;
	height:48px;
}

header img.logo {
	float: left;
	width: 192px;
	background-color: #bbbbbb;
}

header div.text, header form {
	
	float: right;
	overflow: auto;
}

header div.text, header input[type=submit] {
	
	background-color: #bbbbbb;
	color: #666666;
}

header div.text {
	border: 0px;
	padding: 15px 18px 7px 18px;
	margin: 0px;
	
	font-size: 17px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

header input[type=submit] {
	
	border: 0px;
	padding: 16px 16px 8px 16px;
	margin: 0px;
	
   	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

header input[type=submit]:hover {
	color: #444444;
}

/*************************** Navigator details *******************************/

nav {

	color: #888888;
	background-color: #dddddd;
	
	font-size: 14px;
	font-weight: bold;

	padding: 23px 27px 18px 27px;
}

nav span.nav-current {
	color: #c53bce;
	padding-bottom: 15px;
	border-bottom: #c53bce 3px solid;
}

nav a:link { color: #444444; text-decoration: none; }
nav a:visited { color: #444444; text-decoration: none; }
nav a:hover { color: #aaaaaa; text-decoration: none; }
nav a:active { color: #aaaaaa; text-decoration: none;}

/**************************** Article details ********************************/

article {

	color: #444444;
	background-color: #ffffff;

	width: calc(100% - 27px*2);
	padding: 20px 27px 20px 27px;

	font-size: 20px;
}

article a:link { color: #444444; text-decoration: none; }
article a:visited { color: #444444; text-decoration: none; }
article a:hover { color: #aaaaaa; text-decoration: none; }
article a:active { color: #444444; text-decoration: none; }

article div {
	/*
	 * Margin at top and bottom. So things will not look like next to each 
	 * other.
	 */
	margin-top: 5px;
	margin-bottom: 5px;
}

article div.left-narrow {
	float: left;
	width: calc(41.4% - 13px);
}

article div.right-wide {
	float: right;
	width: calc(58.6% - 13px);
}

article div.left-wide {
	float: left;
	width: calc(58.6% - 13px);
}

article div.right-narrow {
	float: right;
	width: calc(41.4% - 13px);
}

div.error {
	color: #ff0000;
}

article input[type=checkbox], 
article input[type=text], 
article input[type=password], 
article input[type=email], 
article textarea, 
article select {

	border: 1px solid #bbbbbb;
	margin: 0px;
	padding: 5px;

	font-size: 20px;
	background-color: #dddddd;
	color: #444444;
}

article input[type=submit], 
article input[type=button] {

	border: 1px solid; 
	margin: 0px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	transition-duration: 0.4s;
}

article pre {

	/*
	 * Seems not working??
	 */
	overflow: auto;
	width: 100%;

	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

article span.intro,
article code {

	/*
	 * TODO:
	 * Colors for different programming languates.
	 */
	border: 1px solid;
	border-radius: 5px;
 	padding: 0px 5px 0px 5px;
	
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	display: inline-block;
}

article span.intro {
	border-color: #2fc8a8;
 	background-color: #2fc8a8;
	color: #ffffff;
}

article code {
	border-color: #eeeeee;
 	background-color: #eeeeee;
	color: #444444;
}

article table.hidden {
	width: 100%;

	/*
	 * If a column has a width set, then no matter what the content is, 
	 * it will be the specified width. Columns without a width set will 
	 * divide whatever room is left over among themselves.
	 */
	table-layout: fixed;
}

article table.hidden td {
	vertical-align: top;
	width: 0%;
	/*border: 1px solid #ffffff;*/
}

article table.hidden td.expand {
	width: 100%;
}

article table.hidden td.left {
	padding-right: 5px;
	text-align: left;
}

article table.hidden td.center {
	text-align: center;
}

article table.hidden td.right {
	padding-left: 5px;
	text-align: right;
}

/***************************** Footer details ********************************/

footer {

	width: 100%;

	color: #bbbbbb;
	background-color: #ffffff;
	
	font-size: 16px;
	text-align: center;
}

/* *************************************************************************
 * Tabled form
 * ************************************************************************* */

article table.fill-in {

	/*
	 * Match with the margin of headings.
	 */
	margin: 10px 0px 5px 0px;

	/*
	 * I want to put this table to the center. But it seems 
	 * doesn't work? 
	 */
	float: center;
}

article table.fill-in td {

	border: 1px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;

	vertical-align: top;
}

article table.fill-in td:nth-child(1) {
	
	width: 250px;

	/*
	 * Padding equals the second column (1px) plus the
	 * form padding (5px).
	 */
	padding-top: 6px;
	padding-bottom: 6px;
	
	text-align: right;
}

article table.fill-in td:nth-child(2) {
	
	width: 600px;
	
	padding-top: 1px;
	padding-bottom: 1px;
	
	text-align: left;
}

article table.fill-in td:nth-child(2).pre-fill, 
article table.fill-in td:nth-child(2).word, 
article table.fill-in td:nth-child(2).error, 
article table.fill-in td:nth-child(2).success {
	
	/*
	 * Padding equals the second column (3px) plus the
	 * form padding (5px).
	 */
	padding-top: 6px;
	padding-bottom: 6px;

	padding-left: 8px;
	padding-right: 8px;
}

article table.fill-in td:nth-child(2).pre-fill {
	color: #999999;
}

article table.fill-in td:nth-child(2).error {
	color: #ff0000;
}

article table.fill-in td:nth-child(2).success {
	color: #00ff00;
}

article table.fill-in td span.error {
	color: #ff0000;
}

article table.fill-in td.button {
	padding-top: 5px;
	padding-bottom: 5px;
}

article table.fill-in input[type=text], 
article table.fill-in input[type=password], 
article table.fill-in input[type=email] {	
	width: 400px;
}

article table.fill-in textarea {
	width: 400px;
	height: 100px;
}

article table.fill-in textarea.bigger {
	width: 600px;
	height: 150px;
}

article table.fill-in input[type=submit], 
article table.fill-in input[type=button] {

	background-color: #e6e472;
	color: #444444;
	border-color: #e6e472; 

	font-size: 28px;
}

article table.fill-in input[type=submit]:hover, 
article table.fill-in input[type=button]:hover {
	background-color: #ffffff;
	color: #e6e472;
	border: 1px solid #e6e472;
}

/******************************** Log in ***********************************/

article div.login {
	width: 850px;
	margin: 0 auto;
	padding: 100px 0px 100px 0px;
}

article div.login table.fill-in td {
	font-size: 32px;
}

article div.login table.fill-in td input[type=text], 
article div.login table.fill-in td input[type=password] {
	font-size: 32px;
	width: 400px;
}

article div.login table.fill-in td.word {
	font-size: 20px;
}

/* This style seems doesn't work. I don't know why. */
article div.login table.fill-in td.word input[type=checkbox] {
	display: inline-block;
}

article div.login table.fill-in td.word label {
	display: inline-block;
}

article div.login table.fill-in td.error {
	font-size:20px;
}

article div.login table.fill-in td span.error {
	font-size:20px;
}

article div.login table.fill-in td.button input[type=button] {
	font-size: 40px;
}

article div.login table.fill-in td.button input[type=submit] {

	background-color: #2fc8a8;
	color: #444444;
	border: 1px solid #2fc8a8; 
	
	font-size: 40px;
}

article div.login table.fill-in td.button input[type=submit]:hover {

	background-color: #ffffff;
	color: #2fc8a8;
	border: 1px solid #2fc8a8;
}

/********************************* Menu ************************************/

article div.menu input[type=text], 
article select {

	/*
	 * In the same line. So the font-size is the same as the submit table.
	 */
	font-size: 28px;
	width: 250px;
}

article div.menu input[type=submit] {

	background-color: #ffffff;
	color: #c53bce;
	border-color: #c53bce; 

	font-size: 28px;
}

article div.menu input[type=submit]:hover {

	background-color: #c53bce;
	color: #ffffff;
	border-color: #c53bce;

	font-size: 28px;
}

/****************************** In title setups ******************************/

article h1 input[type=submit],
article h2 input[type=submit],
article h3 input[type=submit],
article h4 input[type=submit],
article h5 input[type=submit],
article h6 input[type=submit] {

	padding: 3px 7px 3px 7px;
	border-radius: 5px;

	background-color: #ffffff;
	color: #2fc8a8;
	border-color: #2fc8a8; 

	vertical-align: middle;
	font-size: 16px;
}

article h1 input[type=submit]:hover,
article h2 input[type=submit]:hover,
article h3 input[type=submit]:hover,
article h4 input[type=submit]:hover,
article h5 input[type=submit]:hover,
article h6 input[type=submit]:hover {

	background-color: #2fc8a8;
	color: #ffffff;
	border-color: #2fc8a8;
}

article h1 span.explanation,
article h2 span.explanation,
article h3 span.explanation,
article h4 span.explanation,
article h5 span.explanation,
article h6 span.explanation {

	font-weight: normal;
	color: #e6e472;
}

/* *************************************************************************
 * Information tables
 * ************************************************************************* */

article table.info {
	
	margin: 10px 0px 10px 0px;
	
	width: 100%;
	background-color: #ffffff;
}

article table.info th, table.info td {
	border-bottom: 1px solid #dddddd;
	border-left: 0px;
	padding: 8px 8px 8px 8px;
	text-align: center;
	vertical-align: middle;
}

article table.info th {
	background-color: #dddddd;
	color: #777777;
	font-weight: normal;
}

article table.info th.left, table.info td.left {
	text-align: left;
}

/*
 * For show links inside of a table, e.g. commit SHA to jump
 * to the corresponding commit, ...
 */
article table.info td input[type=submit] {

 	background-color: #e6e472;
	color: #ffffff;
	border-color: #e6e472;

	font-size: 28px;
}

article table.info td input[type=submit]:hover {

	background-color: #ffffff;
	color: #e6e472;
	border-color: #e6e472;
}

article table.info td p.minor {
	font-size: 16px;
}

article a.paging {

	font-size: 16px;
    text-decoration: none;
    display: inline-block;
    
	background-color: #dddddd;
	color: 777777;

	border: 1px solid #dddddd;
    margin: 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;

    transition-duration: 0.3s;
}

article a.paging:hover {

    background-color: #ffffff;
    color: #dddddd;

    border: 1px solid #dddddd;
}

/* *************************************************************************
 * Folder structure
 * ************************************************************************* */

article div.folder-structure ul {

	/*
	 * Any safer way rather than simply copy the UTF-8 character in
	 * here? Although I set the encoding of this css file to be UTF-8,
	 * I feel if there's a way to use special notations it should be better.
	 *
	 * List of special characters:
	 * https://en.wikipedia.org/wiki/List_of_Unicode_characters
	 */
	list-style-type: "┗ ";
	color: #bbbbbb;
}

article div.folder-structure ul li span.folder,
article div.folder-structure ul li span.non-document-file,
article div.folder-structure ul li input[type=submit] {

	/*
	 * TODO:
	 * Colors for different programming languates.
	 */
	border: 1px solid;
	border-radius: 5px;
	margin: 3px 5px 3px 5px;
 	padding: 0px 5px 0px 5px;
	
	font-size: 28px;
	font-weight: normal;
	display: inline-block;
	text-align: left;
	text-decoration: none;
}

article div.folder-structure ul li span.folder {
	border-color: #dddddd;
 	background-color: #dddddd;
	color: #444444;
}


article div.folder-structure ul li span.non-document-file {
	border-color: #bbbbbb;
 	background-color: #bbbbbb;
	color: #444444;
}

article div.folder-structure ul li input[type=submit] {
	border-color: #e6e472;
 	background-color: #e6e472;
	color: #444444;
}

article div.folder-structure ul li input[type=submit]:hover {
	border-color: #e6e472;
 	background-color: #ffffff;
	color: #e6e472;
}

/* *************************************************************************
 * User management
 * ************************************************************************* */

article ul.user-list {

	list-style-type: none;

	margin: 0px 0px 10px 0px;
	padding: 0px;
}

article ul.user-list span.user,
article ul.user-list span.user-deletable,
article ul.user-list input[type=submit].delete {

	border: 1px solid #dddddd;
 	background-color: #dddddd;
	color: #444444;

	padding: 0px 5px 0px 5px;
	
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

article ul.user-list span.user {

	margin: 3px 2px 3px 2px;
	border-radius: 5px;
}

article ul.user-list span.user-deletable {

	margin: 3px 0px 3px 2px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

article ul.user-list input[type=submit].delete {

	margin: 3px 2px 3px 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	cursor: pointer;

	transition-duration: 0.3s;
}

article ul.user-list input[type=submit].delete:hover {

	border: 1px solid #dddddd;
	background-color: #ffffff;
	color: #dddddd;
}

/* *************************************************************************
 * Traceable item tag settings
 * ************************************************************************* */

/*
 * It is a property of "li" rather than "ul", because there may be
 * a mixing of traceable bubble items and normal bubble items
 * in the same list.
 */
article li.traceable-item {
	list-style-type: none;
}

article li.traceable-item input[type=submit] {

	border: 1px solid;
	border-radius: 5px;
	margin: 3px 2px 3px 2px;
	padding: 0px 5px 0px 5px;

	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	transition-duration: 0.3s;
}

article li.traceable-item input[type=submit].original {

	border-color: #444444;
 	background-color: #444444;
	color: #ffffff;
}

article li.traceable-item input[type=submit].original:hover {

	border-color: #444444;
	background-color: #ffffff;
	color: #444444;
}

article li.traceable-item input[type=submit].upstream {

	border-color: #2fc8a8;
 	background-color: #2fc8a8;
	color: #ffffff;
}

article li.traceable-item input[type=submit].upstream:hover {

	border-color: #2fc8a8;
	background-color: #ffffff;
	color: #2fc8a8;
}

article li.traceable-item input[type=submit].downstream {

	border-color: #e6e472;
 	background-color: #e6e472;
	color: #ffffff;
}

article li.traceable-item input[type=submit].downstream:hover {

	border-color: #e6e472;
	background-color: #ffffff;
	color: #e6e472;
}
