/* *************************************************************************
 * General replacement 
 * ************************************************************************* */

body, img, form, table, tr, td, div, p, a {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

form {
	display: inline-block; 
}

table {
	border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
	border: 0px;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

img.center {
	display: block;
	margin: 0 auto;	
}

p.center {
	text-align: center;
}

span.nowrap {
	white-space: nowrap;
}

canvas {
	display: inline;
}

/* *************************************************************************
 * General layout
 * ************************************************************************* */

body {

	color: #444444;
	background-color: #ffffff;
	
	font-family: "Open Sans", Sans, sans-serif, Arial;
}

a:link { color: #444444; text-decoration: none; }
a:visited { color: #444444; text-decoration: none; }
a:hover { color: #aaaaaa; text-decoration: none; }
a:active { color: #444444; text-decoration: none; }

header {
	background-color: #bbbbbb;
	height:48px;
}

nav {

	color: #888888;
	background-color: #dddddd;
	
	font-size: 14px;
	font-weight: bold;

	padding: 23px 27px 18px 27px;
}

article {

	width: calc(100% - 27px*2);
	padding: 20px 27px 20px 27px;

	font-size: 20px;
}

footer {

	width: 100%;
	color: #bbbbbb;
	
	font-size: 16px;
	text-align: center;
}

/***************************** Header details *********************************/

header img.logo {
	float: left;
	width: 192px;
	background-color: #bbbbbb;
}

header div.text, header form {
	
	float: right;
	overflow: auto;
}

header div.text, header input[type=submit] {
	
	background-color: #bbbbbb;
	color: #666666;
}

header div.text {
	border: 0px;
	padding: 15px 18px 7px 18px;
	margin: 0px;
	
	font-size: 17px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

header input[type=submit] {
	
	border: 0px;
	padding: 16px 16px 8px 16px;
	margin: 0px;
	
   	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

header input[type=submit]:hover {
	color: #444444;
}

/*************************** Navigator details *******************************/

nav span.nav-current {
	color: #c53bce;
	padding-bottom: 15px;
	border-bottom: #c53bce 3px solid;
}

nav a:link { color: #444444; text-decoration: none; }
nav a:visited { color: #444444; text-decoration: none; }
nav a:hover { color: #aaaaaa; text-decoration: none; }
nav a:active { color: #aaaaaa; text-decoration: none;}

/**************************** Article details ********************************/

article table.hidden {
	width: 100%;

	/*
	 * If a column has a width set, then no matter what the content is, 
	 * it will be the specified width. Columns without a width set will 
	 * divide whatever room is left over among themselves.
	 */
	table-layout: fixed;
}

article table.hidden td {
	width: 0%;
	/*border: 1px solid #ffffff;*/
}

article table.hidden td.expand {
	width: 100%;
}

article table.hidden td.left {
	padding-right: 5px;
	text-align: left;
}

article table.hidden td.center {
	text-align: center;
}

article table.hidden td.right {
	padding-left: 5px;
	text-align: right;
}

article table.fill-in {

	/* I want to put this table to the center. But it seems doesn't work? */
	margin: 0px auto;
	float: center;
}

article table.fill-in td:nth-child(1) {

	border: 1px;
	margin: 0px;
	padding: 5px;
	
	text-align: right;
	vertical-align: top;
}

article input[type=checkbox], article input[type=text], article input[type=password], article input[type=email], article textarea, article select {

	border: 1px solid #bbbbbb;
	margin: 0px;
	padding: 5px;

	font-size: 20px;
	background-color: #dddddd;
	color: #444444;
}

article input[type=text].inline, article select.inline {
	font-size: 28px;
	width: 250px;
}

article input[type=submit], article input[type=button] {

	background-color: #e6e472;
	color: #444444;
	
	border: 1px solid #e6e472; 
	margin: 0px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	transition-duration: 0.4s;
}

article input[type=submit]:hover, article input[type=button]:hover {
	background-color: #ffffff;
	color: #e6e472;
	border: 1px solid #e6e472;
}

article input[type=submit].menu {

	background-color: #2fc8a8;
	color: #212121;
	border: 1px solid #2fc8a8; 
}

article input[type=submit].menu:hover {

	background-color: #ffffff;
	color: #2fc8a8;
	border: 1px solid #2fc8a8;
}

/* *************************************************************************
 * Log in
 * ************************************************************************* */

article div.login {
	width: 560px;
	margin: 0 auto;
	padding: 100px 0px 100px 0px;
}

article table.fill-in td:nth-child(1).login-intro {
	font-size: 32px;
	width: 150px;
}

/* This style seems doesn't work. I don't know why. */
article input[type=checkbox].login-remember-me {
	display: inline-block;
}

article label.login-remember-me {
	
	padding: 5px;
	
	font-size: 20px;
	text-align: left;
	
	display: inline-block;
}

article td.login-button {
	border: 1px;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

article span.login-error {
	font-size: 20px;
	color: #ff0000;
}

article input[type=text].login-fill-in, input[type=password].login-fill-in {
	font-size: 32px;
	width: 400px;
}

article input[type=submit].login {

	background-color: #2fc8a8;
	color: #444444;
	border: 1px solid #2fc8a8; 
	
	font-size: 40px;
}

article input[type=submit].login:hover {

	background-color: #ffffff;
	color: #2fc8a8;
	border: 1px solid #2fc8a8;
}

input[type=button].signup {
	font-size: 40px;
}

/* *************************************************************************
 * Various form settings
 * ************************************************************************* */

article table.fill-in td:nth-child(1).form-intro {
	font-size: 20px;
	width: 250px;
}

article table.fill-in td.form-pre-fill {
	
	border: 1px;
	margin: 0px;
	padding: 5px;
	
	color: #666666;
	font-size: 20px;
	text-align: left;
	vertical-align: top;
	
	width: 400px;
}

article table.fill-in td.form-button {
	border: 1px;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

article span.form-error {
	color: #ff0000;
}

article span.form-successful-message {
	color: #00ff00;
}

article input[type=text].form-fill-in, input[type=password].form-fill-in, input[type=email].form-fill-in, textarea.form-fill-in {	
	width: 400px;
}

input[type=submit].setting {
	font-size: 28px;
}

/* *************************************************************************
 * Information tables
 * ************************************************************************* */

article table.info {
	
	margin: 10px 0px 10px 0px;
	
	width: 100%;
	background-color: #ffffff;
}

article table.info th, table.info td {
	border-bottom: 1px solid #dddddd;
	border-left: 0px;
	padding: 8px 8px 8px 8px;
	text-align: center;
	vertical-align: middle;
}

article table.info th {
	background-color: #dddddd;
	color: #777777;
	font-weight: normal;
}

article table.info th.left, table.info td.left {
	text-align: left;
}

article a.paging {

	font-size: 16px;
    text-decoration: none;
    display: inline-block;
    
	background-color: #dddddd;
	color: 777777;

	border: 1px solid #dddddd;
    margin: 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;

    transition-duration: 0.3s;
}

article a.paging:hover {

    background-color: #ffffff;
    color: #dddddd;

    border: 1px solid #dddddd;
}

/* *************************************************************************
 * Traceable item tag settings
 * ************************************************************************* */

article li.traceable-item {
	list-style-type: none;
}

article li.traceable-item input {

	border: 1px;
	margin: 3px 2px 3px 2px;
	padding: 0px 3px 0px 3px;
	border-radius: 3px;

	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	transition-duration: 0.3s;
}

article li.traceable-item input:hover {

	border: 1px;
}

article li.traceable-item input.original {

	border: 1px solid #444444;
 	background-color: #444444;
	color: #ffffff;
}

article li.traceable-item input.original:hover {

	border: 1px solid #444444;
	background-color: #ffffff;
	color: #444444;
}

article li.traceable-item input.upstream {

	border: 1px solid #2fc8a8;
 	background-color: #2fc8a8;
	color: #ffffff;
}

article li.traceable-item input.upstream:hover {

	border: 1px solid #2fc8a8;
	background-color: #ffffff;
	color: #2fc8a8;
}

article li.traceable-item input.downstream {

	border: 1px solid #e6e472;
 	background-color: #e6e472;
	color: #ffffff;
}

article li.traceable-item input.downstream:hover {

	border: 1px solid #e6e472;
	background-color: #ffffff;
	color: #e6e472;
}
